{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Abdallah Mohamed - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/abdo.jpg' %}" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Abdallah Mohamed Hussin Zidan</h1>
			<h2 class="quickFade delayThree">Django Backend Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>E: <a href="mailto:abdullahmohamedhz@gmail.com" target="_blank">abdullahmohamedhz@gmail.com</a></li>
				<li>L: <a href="linkedin.com/in/abdallah-mohamed-374784226">linkedin.com/in/abdallah-mohamed-374784226</a></li>
                <li>G: <a href="https://github.com/abdullahZD">github.com/abdullahZD</a></li>
				<li>m: +201144681877</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				<div class="sectionContent">
					<p>Dynamic Django developer with a passion for building scalable web applications. Proficient in API development, database management (PostgreSQL, MySQL), and creating efficient RESTful web services. Strong collaborator with a focus on delivering seamless user experiences. Eager to contribute technical skills and stay at the forefront of industry trends.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
        <section>
			<article>
				<div class="sectionTitle">
					<h1>Projects</h1>
				</div>
				<div class="sectionContent">
					<p> 1. Fitness Tracking(API):
                        Description: A web application for tracking fitness activities, including workouts, diet.
                        GitHub: [https://github.com/abdullahZD/Fitness-Tracking]<br/><br/>
                   
                   
                     2. Recipe Sharing(API):
                        Description: An online platform where users can share and discover recipes, create personalized recipe     collections, and engage with other cooking enthusiasts.
                        GitHub: [https://github.com/abdullahZD/Recipe-Sharing]<br/><br/>
                   
                   
                     3. E-commerce:
                        Description: An e-commerce website allowing users to browse products, add items to their cart, proceed with checkout, and manage their orders.
                        GitHub: [https://github.com/abdullahZD/E-Commerce]<br/><br/>
                   
                   
                     4. Movie Tickets Reservation(API):
                        Description: A system for booking movie tickets online, enabling users to view available movie showtimes, select seats, and purchase tickets.
                        GitHub: [https://github.com/abdullahZD/Tickets-Reservation]<br/><br/>
                   </p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python </li><br/>
					<li>OOP</li><br/>
					<li>Django</li><br/>
					<li>REST framework </li><br/>
					<li>RESTful APIs</li><br/>
					<li>Django ORM</li><br/>
					<li>Celery</li><br/>
					<li>SQL</li><br/>
                    <li>Testing</li><br/>
                    <li>Deployment</li><br/>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>College/University</h2>
					<!-- <p class="subDetails">Qualification</p> -->
					<p>Faculty of Education English Department Al Azhar University.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>